/* ************************************************

	Override Default Preset
	https://vuepress.vuejs.org/config/#palette-styl

************************************************ */

// You can override default preset from the following (using stylus or css)
// 颜色
$accentColor: #00bcd4;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
